<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Roboto+Condensed:300,400,700" rel="stylesheet">
        <script src="GeneratePresentation.js"></script>
        <title>AI Assisted Presentation Maker</title>
    </head>
<body>
    <div class="container-nav">
        <div class="smartsync"><img src="pictures/SmartSync Logo.png"></div>
        <div class="nav">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Create</a></li>
                </ul>
            </nav>
        </div>
        <div class="user"><strong>Hi, Armiri</strong></div>
        <div class="profile-icon">
            <i class="fa fa-user"></i>
        </div>
    </div>
    <div class="latestPresentations">
        <div class="latest">Latest Presentations</div>
        <div class="btnCreate">
            <button>Create New Presentation</button>
        </div>
        <div class="pastPresentations">
            <span><img src="pictures/2.png"></span>
            <span></span><img src="pictures/3.png"></span>
            <span></span><img src="pictures/4.png"></span>
        </div>
    </div>
</body>
</html>